/* Root Here */
:root {
    --charcoal-gray: #3f4249;
    --deap-sea: #339bf8;
    --sea: #00fbff;
    --light-grey: #eaf2f9;
    --main-pad: 1rem;
}

/* Elements Here */
html {
    font-size: 62.5%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--charcoal-gray);
    color: var(--light-grey);
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

header {
    display: flex;
    padding: 2rem;
    background-color: var(--deap-sea);
    justify-content: space-between;
    border: solid var(--charcoal-gray);
    border-radius: 2rem;
}

header h1 {
    display: inline-block;
}

nav {
    padding-top: 1.5rem;
    margin-right: 2rem;
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--light-grey);
}

figure {
    display: flex;
    justify-content: flex-start;
    padding: var(--main-pad);
}

figure img {
    max-height: 30rem;
    width: 100%;
}

main {
    display: flex;
    padding: var(--main-pad);
}

section {
    display: flex;
    padding: var(--main-pad);
    justify-content: flex-start;
}

/* Classes Here */

/* ID tags Here */

#about-me img {
    padding: var(--main-pad);
    max-width: 20rem;
}

/* Pseudo Here */
header h1:hover {
    color: var(--charcoal-gray);
    transition: all 3s ease-in-out;
}

nav ul li a:hover {
    color: var(--sea);
}

nav ul li a:focus {
    border: solid var(--charcoal-gray);
    color: var(--sea);
}

nav ul li a:active {
    color: var(--charcoal-gray);
    font-size: 2.3rem;
}

/* Media Here */

