/* Root Here */
:root {
    --charcoal-gray: #3f4249;
    --deap-sea: #339bf8;
    --sea: #00fbff;
    --light-grey: #eaf2f9;
}

/* Elements Here */
html {
    font-size: 62.5%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--charcoal-gray);
    color: var(--light-grey);
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

header {
    width: 100%;
    display: flex;
    padding: 2rem;
    background-color: var(--deap-sea);
    justify-content: space-between;
}

header h1 {
    display: inline-block;
}

nav {
    padding-top: 1.5rem;
    margin-right: 2rem;
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--light-grey);
}
/* Classes Here */

/* Media Here */

